/* ++++++++++++++++ */
/*      FONTS       */
/* ++++++++++++++++ */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Abel&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* ++++++++++++++++ */
/*    VARIABLES     */
/* ++++++++++++++++ */
:root {
  /*FONTS*/
  --main-font: 'Abel';
  /* --logo-font: 'Gamja Flower'; */
  /* --accent-font: 'Monda'; */
  /*COLOR*/
  --medium-blue: #051FDE;
  --palatinate-blue: #0031DD;
  --navy-blue: #0058DE;
  --true-blue: #006CDF;
  --lighter-true-blue: #0080DF;
  --rich-electric-blue: #0095DE;
  --cerulean: #00ABDF;
  width: 200%;
}
/* * { border: 1px solid gold; } */
body {
  width: 100%;
  font-family: var(--main-font);
  margin: 0;
  color: white;
}
header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
header > h1 {
  font-family: var(--logo-font);
  font-size: 2em;
}
.header-btn {
  margin-top: 100px;
  margin-right: 50px;
}
/* infographics */
.info-text {
  text-align: center;
  margin-top: 155px;
  color: white;
  font-size: 3em;
}
article {
  width: 100%;
  height: 900px;
  z-index: 90;
  top: 0;
  right: 0;
}
.add-tip-btn {
  float:right;
}
/* .tip-comp {
  display: none;
} */
/* .whale-container {
  position: relative;
  top: 50px;
  left: 0;
  width: 200%;
  height: 900px;
  overflow-x: auto;
  overflow-y:hidden;
  margin-top: 50px;
  background-color: #00ABDF;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
} */
.whale {
  background: url(whale.png) no-repeat;
  background-size: contain;
  display: inline-block;
}
.plastic-bottles {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
}
.plastic-bottle {
  background: url(waterbottle.svg) no-repeat;
  width: 50%;
  height: 60px;
}
.plastic-container{
  width: 100%;
  left: 200;
}
.plastic-bottle-fill {
  background: url(waterbottlefill.svg) no-repeat;
  width: 50%;
  height: 60px;
  position:
}
.container {
  width: 130%;
}
.main-container {
  padding: 0 50px;
  background-color: var(--cerulean);
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  /* display: flex; */
}
.main-contents {
  background: url(whale.png) no-repeat;
  background-size: contain;
  height: 800px;
  overflow-x: auto;
  overflow-y:hidden;
}
main h1 {
  color: var(--rich-electric-blue);
  text-transform: uppercase;
  margin-left: 30px;
  position: sticky;
}
/* waves css anmtion */
.ocean {
  height: 700px;
  position:absolute;
  bottom:0;
  left:0;
  z-index: -5;
  /* overflow-x: hidden; */
}
.wave {
  background: url(wave.svg) repeat-x;
  position: absolute;
  top: -150px;
  width: 5700px;
  height: 198px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  overflow-x: visible;
}
.wave:nth-of-type(2) {
  background: url(wave2.svg) repeat-x;
  top: -160px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;
  z-index: -1;
}
.wave:nth-of-type(3) {
  background: url(wave3.svg) repeat-x;
  top: -170px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.225s infinite, swell 5s ease -2.25s infinite;
  z-index: -2;
}
.wave:nth-of-type(4) {
  background: url(wave4.svg) repeat-x;
  top: -180px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.325s infinite, swell 5s ease -2.25s infinite;
  z-index: -3;
}
.wave:nth-of-type(5) {
  background: url(wave5.svg) repeat-x;
  top: -190px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.425s infinite, swell 5s ease -2.25s infinite;
  z-index: -4;
}
.wave:nth-of-type(6) {
  background: url(wave6.svg) repeat-x;
  top: -200px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.525s infinite, swell 5s ease -2.25s infinite;
  z-index: -5;
}
.wave:nth-of-type(7) {
  background: url(wave7.svg) repeat-x;
  top: -170px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.625s infinite, swell 5s ease -2.25s infinite;
  z-index: -6;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* form */
form {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
}
.container-drag {
  width: 30%;
  height: 30%;
}
.box {
  color: white;
}
.hover {
  display: none;
  color: white;
}
.hover:hover {
  display: block;
}

/* +++++++++++++++ */
/*      CARDS      */
/* +++++++++++++++ */
.cards-form {
  height: 600px;
  width: 900px;
  margin: 0 850px 300px 1500px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px;

}
.cards-form, form {
  float: right;
}
.card {
  margin: 0 auto;
}
/* ++++++++++++++++ */
/*      FOOTER      */
/* ++++++++++++++++ */
footer {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 12px;
  bottom:0;
  left:0;
  height: 100px;
  color: white;
  background-color: var(--lighter-true-blue);
}
.footer-names {
  padding: 20px 0;
}
.copy {
  height: 15px;
  padding: 15px 0;
}
.App {
  width: 500px;
  height: 100px;
  z-index: 15;
}
