/* ++++++++++++++++ */
/*      FONTS       */
/* ++++++++++++++++ */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Abel&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* ++++++++++++++++ */
/*    VARIABLES     */
/* ++++++++++++++++ */
:root {
  /*FONTS*/
  --main-font: 'Abel';
  /* --logo-font: 'Gamja Flower'; */
  /* --accent-font: 'Monda'; */
  /*COLOR*/
  --medium-blue: #051FDE;
  --palatinate-blue: #0031DD;
  --navy-blue: #0058DE;
  --true-blue: #006CDF;
  --lighter-true-blue: #0080DF;
  --rich-electric-blue: #0095DE;
  --cerulean: #00ABDF;
  --red: #CE3537;
}

/* ++++++++++++++ */
/*    GENERAL     */
/* ++++++++++++++ */
* { border: 1px solid gold; }
body {
  font-family: var(--main-font);
  margin: 0;
  color: white;
}

/* +++++++++++++ */
/*    HEADER     */
/* +++++++++++++ */
header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
header  h1 {
  font-family: var(--logo-font);
  font-size: 2em;
  line-height: 1em;
}
.header-btn {
  margin-top: 100px;
  margin-right: 50px;
}
.logo {
  width: 85px;
  height: 85px;
  margin-top: 30px;
  background-color: #00eaff;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
  float: left;
  margin-left: 20px;
}

/* +++++++++++++++++++ */
/*   WAVES ANIMATION   */
/* +++++++++++++++++++ */
.ocean {
  height: 700px;
  position:absolute;
  bottom:0;
  left:0;
  z-index: -5;
  /* overflow-x: hidden; */
}
.wave {
  background: url(wave.svg) repeat-x;
  position: absolute;
  top: -150px;
  width: 5700px;
  height: 198px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  overflow-x: visible;
}
.wave:nth-of-type(2) {
  background: url(wave2.svg) repeat-x;
  top: -160px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;
  z-index: -1;
}
.wave:nth-of-type(3) {
  background: url(wave3.svg) repeat-x;
  top: -170px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.225s infinite, swell 5s ease -2.25s infinite;
  z-index: -2;
}
.wave:nth-of-type(4) {
  background: url(wave4.svg) repeat-x;
  top: -180px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.325s infinite, swell 5s ease -2.25s infinite;
  z-index: -3;
}
.wave:nth-of-type(5) {
  background: url(wave5.svg) repeat-x;
  top: -190px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.425s infinite, swell 5s ease -2.25s infinite;
  z-index: -4;
}
.wave:nth-of-type(6) {
  background: url(wave6.svg) repeat-x;
  top: -200px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.525s infinite, swell 5s ease -2.25s infinite;
  z-index: -5;
}
.wave:nth-of-type(7) {
  background: url(wave7.svg) repeat-x;
  top: -170px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.625s infinite, swell 5s ease -2.25s infinite;
  z-index: -6;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* ++++++++++++++++++ */
/*        MAIN        */
/* ++++++++++++++++++ */
main h1 {
  color: var(--rich-electric-blue);
  text-transform: uppercase;
  margin-left: 30px;
  position: sticky;
}
.container {
  width: 100%;
}
.main-container {
  margin-top: 60px;
  height: auto;
  background-color: var(--cerulean);
  scroll-snap-type: x mandatory;
  /* overflow-x: scroll; */
  /* display: flex; */
}
.main-contents {
  /* background: url(whale.png) no-repeat; */
  /* background-size: contain; */
  /* overflow-x: auto;
  overflow-y:hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
.container-drag {
  width: 30%;
  height: 30%;
}
.box {
  color: white;
}
.hover {
  display: none;
  color: white;
}
.hover:hover {
  display: block;
}

/* ++++++++++++++++++ */
/*    INFOGRAPHIC     */
/* ++++++++++++++++++ */
/* TEXT */
.infographic-section {
  height: 900px;
  background: url(whale.png) no-repeat;
  background-size: 250% auto;
}
.info-text {
  width: 1356px;
  height: 550px;
  text-align: center;
  color: white;
  font-size: 3em;
  display: flex;
  flex-direction: row;
}
article {
  width: 100%;
  height: 900px;
  z-index: 90;
  top: 0;
  right: 0;
}
.add-tip-btn {
  float:right;
}
.bottle-text {
  margin: 120px 0 0 40px;
  width: 400px;
  text-align: left;
  font-size: 0.9em;
}
.number {
  color: var(--red);
}
/* ITEMS */
.plastic-bottle, .plastic-bag, .diaper, .straw {
  width: 30px;
  height: 60px;
}
.plastic-bottle {
  background: url(waterbottle.svg) no-repeat;
}
.plastic-bag {
  background: url(bag.svg) no-repeat;
}
.diaper {
  background: url(diaper.svg) no-repeat;
}
.straw {
  background: url(straw.png) no-repeat;
}
.bottles {
  margin: 200px 0 0 440px;
  width: 150px;
  height: 100px;
}
.bottles-container {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bags {
  margin: 200px 0 0 440px;
  width: 150px;
  height: 100px;
}
.bags-container {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* +++++++++++++++ */
/*     IMAGES      */
/* +++++++++++++++ */
.images-container {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  background-color: var(--rich-electric-blue);
  /* margin: 0 auto; */
  border-radius: 5px;
  background: url(whale.png) no-repeat;
  background-size: 250% auto;
  background-position: 50% 50%;
}
.images {
  width: 50%;
  overflow-y: scroll;
}
.images-container > p {
  width: 360px;
  font-size: 2em;
  text-align: left;
  padding: 20px 30px 0 30px;

}
/* +++++++++++++++ */
/*      CARDS      */
/* +++++++++++++++ */
.cards-form {
  width: 100%;
  height: 900px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  float:right;
  z-index: 100
}
.card-container {
  width: 100%;
 overflow-y: scroll;
 display: flex;
 flex-flow: wrap;
}
.card {
  width: 30%;
  margin: 0 auto;
}

/* ++++++++++++++ */
/*      FORM      */
/* ++++++++++++++ */
form {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  height: 600px;
}
form-container {
  background-color: white;
  height: 600px;
}

/* ++++++++++++++++ */
/*      FOOTER      */
/* ++++++++++++++++ */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: var(--lighter-true-blue);
}
.footer-items {
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px 20px;
}
.App {
  width: 500px;
  height: 100px;
  z-index: 15;
}
