/* ++++++++++++++++ */
/*      FONTS       */
/* ++++++++++++++++ */
@import url('https://fonts.googleapis.com/css?family=Abel|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* ++++++++++++++++ */
/*    VARIABLES     */
/* ++++++++++++++++ */
:root {
  /*FONTS*/
  --main-font: 'Abel';
  --accent-font: 'Varela Round';
  /*COLOR*/
  --dark-blue: #010942;
  --medium-blue: #051FDE;
  --palatinate-blue: #0031DD;
  --navy-blue: #0058DE;
  --true-blue: #006CDF;
  --lighter-true-blue: #0080DF;
  --rich-electric-blue: #0095DE;
  --cerulean: #00ABDF;
  --red: #CE3537;
}

/* ++++++++++++++ */
/*    GENERAL     */
/* ++++++++++++++ */
/* * { border: 1px solid gold; } */
body {
  font-family: var(--main-font);
  margin: 0;
  color: white;
}
a:visited {
  color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* +++++++++++++ */
/*    HEADER     */
/* +++++++++++++ */
header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  z-index: 900;
}
.header-btn {
  margin-top: 100px;
  margin-right: 50px;
}
.logo {
  font-family: var(--logo-font);
  font-size: 1em;
  line-height: 1.7em;
  width: 85px;
  height: 85px;
  margin-top: 30px;
  background-color: #00eaff;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
  float: left;
  margin-left: 20px;
  color:white;
  cursor: pointer;
}
.menu {
  width: 100%;
  top: 0;
  z-index: 900;
  position: sticky;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.section-btn {
  width: 70%;
}
.right-btn{
  width: 12%;
  display: flex;
  flex-flow: row;
  height: 50%;
}

/* +++++++++++++++++++ */
/*   WAVES ANIMATION   */
/* +++++++++++++++++++ */
/* css waves animation help https://codepen.io/tedmcdo/pen/PqxKXg */
.ocean {
  height: 700px;
  position:absolute;
  bottom:0;
  left:0;
  z-index: -5;
}
.wave {
  background: url(wave.svg) repeat-x;
  position: absolute;
  top: -210px;
  width: 5700px;
  height: 198px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  overflow-x: visible;
}
.wave:nth-of-type(2) {
  background: url(wave2.svg) repeat-x;
  top: -210px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;
  z-index: -1;
}
.wave:nth-of-type(3) {
  background: url(wave3.svg) repeat-x;
  top: -210px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.225s infinite, swell 5s ease -1.35s infinite;
  z-index: -2;
}
.wave:nth-of-type(4) {
  background: url(wave4.svg) repeat-x;
  top: -210px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.325s infinite, swell 5s ease -1.45s infinite;
  z-index: -3;
}
.wave:nth-of-type(5) {
  background: url(wave5.svg) repeat-x;
  top: -210px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.425s infinite, swell 5s ease -1.55s infinite;
  z-index: -4;
}
.wave:nth-of-type(6) {
  background: url(wave6.svg) repeat-x;
  top: -210px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.525s infinite, swell 5s ease -2.25s infinite;
  z-index: -5;
}
.wave:nth-of-type(7) {
  background: url(wave7.svg) repeat-x;
  top: -210px;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.625s infinite, swell 5s ease -2.25s infinite;
  z-index: -6;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* ++++++++++++++++++ */
/*        MAIN        */
/* ++++++++++++++++++ */
.infographic-section > h1 {
  color: var(--dark-blue);
  margin: 0 0 0 170px;
  font-size: 2.5em;
}
.container {
  width: 100%;
}
.main-container {
  height: auto;
  background-color: var(--cerulean);
  background-image: linear-gradient(var(--cerulean), var(--true-blue), var(--dark-blue));
  margin-top: 0;
}
.container-drag {
  width: 30%;
  height: 30%;
}
.hover {
  display: none;
  color: white;
}
.hover:hover {
  display: block;
}
.main-contents {
  margin-top: 0;
}
/* ++++++++++++++++++ */
/*        DRAG        */
/* ++++++++++++++++++ */
.garbages-container {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.bottle, .bag, .diaper, .straw, .razor, .gum, .smoke, .toothbrush{
  width: 90px;
  height: 150px;
  margin: 0;
}
.bottle {
  background: url(waterbottle.svg) no-repeat;
  width: 50px;
  height: 100px;
}
.bag {
  background: url(bag.svg) no-repeat;
}
.diaper {
  background: url(diaper.svg) no-repeat;
}
.straw {
  background: url(straw-fill.png) no-repeat;
  background-position: top;
  background-size: contain;
}
.razor {
  background: url(razor.svg) no-repeat;
}
.gum {
  background: url(gum.svg) no-repeat;
}
.smoke {
  background: url(smoking.svg) no-repeat;
}
.toothbrush {
  background: url(toothbrush.svg) no-repeat;
}

/* ++++++++++++++++++ */
/*    INFOGRAPHIC     */
/* ++++++++++++++++++ */
/* TEXT */
.infographic-section {
  height: 900px;
  padding-top: 50px;
  background: url(whale.png) no-repeat;
  background-size: 250% auto;
  background-position-y: 180px;
  display: flex;
  flex-wrap: wrap;
}
.bottle-text-container, .bag-text-container, .brush-text-container, .straw-text-container {
  width: 100%;
  text-align: left;
  font-size: 1em;
}
.razor-text-container {
  text-align: right;
}
.bottles, .bags, .brushes, .straws, .smokes, .diapers, .razors {
  position: absolute;
  cursor: pointer;
}
.number {
  color: var(--red);
}

/* BOTTLE */
.bottle-text-container {
  margin: 50px 0 0 300px;
}
.bottles {
  background: url(waterbottle-fill.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 150px;
  transform: rotate(-45deg);
}
.bottles:hover {
  background: url(waterbottle-y.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 150px;
  transform: rotate(-45deg);
}
.text {
  width: 550px;
  font-size: 2em;
  margin: 270px 0 0 -200px;
  transform: rotate(45deg);
}
/* BAG */
.bag-text-container {
  margin: 0 200px 0 700px;
}
.bags {
  background:  url(bag-fill.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 150px;
  transform: rotate(25deg);
}
.bags:hover {
  background:  url(bag-y.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 150px;
  transform: rotate(25deg);
}
.text-bag {
  width: 450px;
  font-size: 2em;
  transform: rotate(-25deg);
  margin: -150px 0 0 130px;
}
/* STRAW */
.straw-text-container {
  margin: 150px 0 0 900px;
}
.straws {
  background: url(straw-fill.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}
.straws:hover {
  background: url(straw-y.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}
.text-straw {
  width: 450px;
  font-size: 2em;
  margin: -30px 0 0 160px;
}
/* BRUSH */
.brush-text-container {
  margin: 300px 0 0 800px;
}
.brushes {
  background: url(toothbrush-fill.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 250px;
  transform: rotate(20deg);
}
.brushes:hover {
  background: url(toothbrush-y.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 250px;
  transform: rotate(20deg);
}
.text-brush {
  width: 450px;
  font-size: 2em;
  transform: rotate(-20deg);
  margin: 0 0 0 150px;
}
/* DIAPER */
.diaper-text-container {
  margin: -90px 0 0 1190px;
}
.diapers {
  background: url(diaper-fill.png) no-repeat;
  background-size: contain;
  width: 180px;
  height: 150px;
}
.diapers:hover {
  background: url(diaper-y.png) no-repeat;
  background-size: contain;
  width: 180px;
  height: 150px;
}
.text-diaper {
  width: 650px;
  font-size: 2em;
  margin: -150px 0 0 0;
}
/* RAZOR */
.razor-text-container {
  margin: -350px 0 0 100px;
}
.razors {
  background: url(razor-fill.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 250px;
  transform: rotate(120deg);
}
.razors:hover {
  background: url(razor-y.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: 250px;
  transform: rotate(120deg);
}
.text-razor {
  width: 450px;
  font-size: 2em;
  transform: rotate(-120deg);
  margin: 240px 0 0 -10px;
}
/* GUM */
.gum-text-container {
  margin: 0 0 0 -950px;
}
.gums {
  background: url(gum-fill.png) no-repeat;
  background-size: contain;
  width: 180px;
  height: 250px;
  transform: rotate(10deg);
}
.gums:hover {
  background: url(gum-y.png) no-repeat;
  background-size: contain;
  width: 180px;
  height: 250px;
  transform: rotate(10deg);
}
.text-gum {
  width: 350px;
  font-size: 2em;
  transform: rotate(-10deg);
  margin: 0 0 0 220px;
}
/* SMOKE */
.smoke-text-container {
  margin: -800px 0 0 1250px;
}
.smokes {
  background: url(smoking-fill.png) no-repeat;
  background-size: contain;
  width: 180px;
  height: 250px;
  transform: scaleX(-1) rotate(20deg);
  background-position: center;
}
.smokes:hover {
  background: url(smoking-y.png) no-repeat;
  background-size: contain;
  width: 180px;
  height: 250px;
  transform: scaleX(-1) rotate(20deg);
  background-position: center;
}
.text-smoke {
  width: 450px;
  font-size: 2em;
  transform: scaleX(-1) rotate(20deg);
  margin: 230px 0 0 -150px;
}

/* +++++++++++++++ */
/*     IMAGES      */
/* +++++++++++++++ */
.section2-container {

  width: 100%;
  height: 900px;
  background: url(whale.png) no-repeat;
  background-size: 250% auto;
  background-position: 50% 50%;
  margin: 0 auto;
}
.images {
  border-radius: 5px;
  width: 799px;
  height: 490px;
  overflow-y: scroll;
  margin-left: 50px;
}
.images-container {
  padding-top: 200px;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.images-container > p {
  width: 35%;
  font-size: 1.8em;
  line-height: 1.5em;
  text-align: left;

}
.image {
  width: 100%;
}
/* +++++++++++++++ */
/*      CARDS      */
/* +++++++++++++++ */
.cards-form-big {
  background: url(whale.png) no-repeat;
  background-size: 250% auto;
  background-position: 110% 20%;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 5px;

  padding: 50px 0;
}
.cards-form-small {
  width: 80%;
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
}
.card-container {
  width: 80%;
  margin-top: 20px;
 overflow-y: scroll;
}
.card {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* ++++++++++++++ */
/*      SHOW      */
/* ++++++++++++++ */
article {
  width: 100%;
  height: 1000px;
  background: white;
  margin: 0 auto;
  color: black;
  overflow: scroll;
  padding-bottom: 50px;
}
.show-container {
  width: 50%;
  margin: 0 auto;
}
.show-tip-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
article h1 {
  margin-left: 0;
  font-family: var(--accent-font);
  color: var(--dark-blue);
}
.tip-description {
  width: 100%;
  font-size: 1.5em;
}
.tip-buttons {
 display: flex;
 flex-direction: row;
 float: right;
 margin-top: 30px;
}
.username {
  color: var(--true-blue);
}

/* ++++++++++++++ */
/*      FORM      */
/* ++++++++++++++ */
.form-container {
  background-color: white;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
}
label {
  color: var(--palatinate-blue);
}
form {
  width: 60%;
  border-radius: 5px;
  margin: 0 auto;
}
input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}
textarea {
  padding: 10px;
  width: 80%;
  resize: none;
  font-size: 0.9em;
  border-radius: 5px;
  line-height: 30px;
}
form > h1 {
  color: var(--lighter-true-blue);
  padding-top: 30px;
  margin-left: 0;
}
.form {
  margin: 0 auto;
}

/* ++++++++++++++++ */
/*      FOOTER      */
/* ++++++++++++++++ */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: var(--lighter-true-blue);
}
.footer-items {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 12px 20px 20px 20px;
}
